/*
 * Reset / normalize CSS across browsers
 * Reference: https://create-react-app.dev/docs/adding-css-reset/
 */

@import-normalize; 

html {
  /* 1rem Size in px */
  font-size: 16px; 
}

body {
  color: #FFFFFF;
  font-family: 'IBM Plex Mono', 'arial', 'sans-serif';
  font-size: 1.625rem;
  line-height: auto;
  letter-spacing: -1px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}


h1 {
  font-size: 4.5rem;
  line-height: 5.125rem;
}

h2 {
  font-size: 4rem;
  line-height: 4.75rem;
}

h3 {
  font-size: 2.75rem;
  line-height: 3.25rem;
}

button {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
}